

/***********************************
ESTILIZACAO DE ACORDO COM O BROWSER
***********************************/

/*Mozilla Firefox 4 to 18*/
input:-moz-placeholder {
  line-height: 0;
}

/*---Mozilla Firefox 19+---*/
input::-moz-placeholder {
	line-height:0;
}

 /* Internet Explorer 10+ */
input:-ms-input-placeholder {
  line-height: 0;
}


/**************************************
FIM ESTILIZACAO DE ACORDO COM O BROWSER
**************************************/



/**************************************
PARA TODOS
**************************************/



body {
    overflow-x: hidden!important;
	font-size: 1.6em !important;
	background-image:url(../img/desert_camo.gif);
	font-family:serif !important;
}


.titulo_grande{
	font-size: 3em !important;
}


.container_texto_explicativo{
	background-color:#EFE09D !important;
	border-radius:10px !important ;
}

.container_texto_explicativo p{
	color:#988D66 !important;
}


.thumbnail_customizado{
	background-color:#FFF !important;
	border-color:#988D66 !important;
}

.thumbnail_customizado img{
	width: 300px !important;
	height: 300px !important;
	max-width: 300px !important;
	max-height: 300px !important;
	margin:1em;
	
	
}

.thumbnail_customizado h1{
	color:#988D66 !important;
}

.thumbnail_customizado p{
	font-size: 1.2em !important;
}


.thumbnail_customizado a{
	color:#988D66;
	font-size: 1.2em !important;
	font-style: italic;
	text-decoration: underline  !important; 
}

.thumbnail_customizado a:hover{
	
	color:#988D66 !important;
}

.mensagem_erro{
	color: red !important;
}

/**************************************
FIM PARA TODOS
**************************************/



/**************************************
CLASSES PONTUAIS
**************************************/
.box_shadow{
	box-shadow: 3px 3px 3px #efe19d;
}

/**************************************
FIM CLASSES PONTUAIS
**************************************/


/**************************************
BARRA DE NAVEGAÇÃO
**************************************/
.barra_navegacao{

	background-color: #988D66 !important;
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    border: 0 !important;
    
    
}

.barra_navegacao a{
	color: #EFE09D !important;
	font-size: 1.4em;
	outline:none !important;
}

.barra_navegacao a:hover{
	color: #FFFFFF !important;
}


.dropdown a{
	background-color: #988D66 !important;
}

/**************************************
FIM BARRA DE NAVEGAÇÃO
**************************************/



/**************************************
DIV MODAL FALE CONOSCO
**************************************/

.telefone{
	width:300px !important;	
}

.assunto{
	width: 300px !important;
}

.mensagem{
	width: 560px !important;
}




/**************************************
FIM DIV MODAL FALE CONOSCO
**************************************/


/**************************************
HEADER FUNDO IMAGEM 
**************************************/

.main_header{
	margin-top: 2.3em;
	text-align: center;
	height:450px;
	background-image:url(../img/bg_main_aeg.jpg);
	
}

/**************************************
FIM HEADER FUNDO IMAGEM 
**************************************/


/**************************************
DIV LOGIN/CRIAR CONTA 
**************************************/
.container_login_criar_conta{
	text-align:right;
}

.login_criar_conta{
	margin-left: 1em !important;
	font-size: 1.4em !important;
	color:#EFE09D !important;
	text-decoration:none !important;
	outline:none!important;
}

.login_criar_conta:hover{
	color:#FFF !important;
}

.nome_usuario_logado{
	color:#EFE09D !important;
	font-style: italic !important;
	font-size: 1.4em !important;	
}

/**************************************
FIM DIV LOGIN/CRIAR CONTA  
**************************************/


/**************************************
DIV BUSCAR  + PESQUISA DETALHADA
**************************************/

.div_buscar_container{
	margin-top: 3em;
}

.div_buscar_text{
	font-size: 1.4em !important;
	color:#988D66 !important;
	height:60px !important;
	border-radius:10px !important ;
	padding:10px;
	width: 500px !important;
	outline:none!important;
	
}

.link_pesquisa_detalhada{
	margin-left: 1.4em !important;
	font-size: 1.4em !important;
	color:#EFE09D !important;
	text-decoration:none !important;
	outline:none!important;
}

.link_pesquisa_detalhada:hover{
	color:#FFF !important;
}


/**************************************
FIM DIV BUSCAR  + PESQUISA DETALHADA  
**************************************/

/**************************************
DIV MODAL LOGIN 
**************************************/
.div_modal_content button{
	font-size: 1.2em !important;
	margin: 0.5em !important;
}

.modal-header{
	background-image:url(../img/desert_camo.gif) !important;
}

.div_modal_title{
	text-align:center; 
	font-size: 2em !important;
	color:#EFE09D;
}

.modal-body{
	text-align:left !important;
	color:#988D66;
}

.modal-footer{
	background-image:url(../img/desert_camo.gif) !important;
}

.div_esqueci_senha{
	margin-top: 2em !important;
}

.div_esqueci_senha font{
	font-size: 1.4em !important;
}

/**************************************
FIM DIV MODAL LOGIN 
**************************************/


/**************************************
DIV LOGO FRASE
**************************************/
.logo_frase{
	font-size: 1.4em;
	color:#EFE09D;
	font-style:italic;
	margin-top:1em;
	text-align: right !important;
	width: 105% !important; /*Se colocar menor a imagem 'Logo' pula ao realizar o 'show('drop',500)' do jQuery*/
}

/**************************************
FIM DIV LOGO FRASE
**************************************/


/**************************************
DIV LOGO
**************************************/
#logo{
	margin-top:2em;
}

/**************************************
DIV LOGO
**************************************/




/**************************************
DIV TROCA EQUIPAMENTO
**************************************/

.div_equip{
	margin: 1em;
	border-radius: 10px ;
}

.div_equip p{
	text-align:center !important;
	padding:5px;
	margin-top:.5em;
	font-size:1.6em;
	color:#EFE09D;
}

.div_equip font{
	font-style:italic;
	font-size: 1.4em;
	color:#988D66;
}
/**************************************
FIM DIV TROCA EQUIPAMENTO
**************************************/



/**************************************
DIV ANUNCIAR
**************************************/

.div_anunciar_container{
	margin-top:1em !important;
}

.div_anunciar{
	color:#EFE09D;
}

.div_anunciar font{
	font-size:1.8em !important;
}


.div_anunciar button{
	font-size:2em !important;
}

/**************************************
FIM DIV ANUNCIAR
**************************************/


/**************************************
DIV DESTAQUE PREMIUM
**************************************/

.div_destaque_premium{
	background-color:#FFF !important;
}

.div_destaque_premium p{
	background-color:#EFE09D !important;
	color:#988D66;
}

.div_destaque_premium table{
	text-align:center !important;
	width: 100% !important;
	font-size: 1em !important;
	margin-top:1em !important;
}

.div_destaque_premium_valor{
	 color: red !important;
	 font-style: italic!important;
}

.div_destaque_premium a{
	text-decoration:none !important;
}

.div_destaque_premium img:hover{
	opacity: 0.8;
}



/**************************************
FIM DIV DESTAQUE PREMIUM
**************************************/


/**************************************
DIV CONTEUDO PRINCIPAL
**************************************/
.container_div_conteudo_principal{
	
	margin-left: 5em !important;
}
/**************************************
FIM DIV CONTEUDO PRINCIPAL
**************************************/

/**************************************
BOTÕES DE AÇÃO
**************************************/
.bt_acao {
	
	font-size:2em;
	padding:10px;
	margin-top:1em;
	border-radius:20px ;
	outline:0px !important;
	background-color:#EFE09D !important;
	color:#745A49 !important;
	border: solid 5px #745A49 !important;
	
}

.bt_acao:hover{
	background-color:#745A49 !important;
	color:#EFE09D !important;
	border: solid 5px #EFE09D !important;
	
		 
}
/**************************************
FIM BOTÕES DE AÇÃO
**************************************/


/**************************************
TABELA FILTRO PESQUISA 
**************************************/ 
.table_grupo_filtro {
	margin-top: 1em;
}

.table_grupo_filtro td{
	margin-top: 1em;
	padding:5px !important;
}

/**************************************
FIM TABELA FILTRO PESQUISA 
**************************************/


/**************************************
DIV SOBRE NOS 
**************************************/
.sobre_nos{

	color:#EFE09D !important;
	text-align:center;
	margin-top: 2em !important;
	background-color: #988D66 !important;
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    border: 0 !important;
}

.sobre_nos_col{
	margin:.5em !important; 
}

.sobre_nos_narede a{
	
	font-size:1.4em;
	color:#EFE09D !important;
	margin: 1em;
	
}

.sobre_nos_narede a:hover{
	color:#FFF !important;
}

/**************************************
FIM DIV SOBRE NOS 
**************************************/

/**************************************
DIV COPYRIGHT
**************************************/
.div_copyright{
	margin-top:2em !important;
}

/**************************************
FIM DIV COPYRIGHT
**************************************/






/**************************************
CRIAR CONTA JSP
**************************************/

.fonte_itens_prefil{
	 color:#988D66;
	 font-size: 1.4em; 
}

#form_cadastro{
	margin-top:1em;
}

#form_cadastro input{
	max-width: 700px !important;
}	
	

#perfil_premium_info{
	color:#988D66;
	background-color: transparent !important;
	border: 0 !important;
	outline: none !important;
}


.cpf_cnpj{
	width: 300px !important;
}

.cep{
	width: 300px !important;
}

#nao_sei_cep{
	color:#988D66;
	font-size: .9em !important;
	font-style: italic; 
}

#nao_sei_cep:hover{
	text-decoration: underline  !important;
}

.estado{
	width: 300px !important;
}

.senha{
	width: 300px !important;
}


#cad_link_termos{
	color:#988D66;
	font-size: .9em !important;
	font-style: italic; 
}

#cad_link_termos:hover{
	text-decoration: underline  !important;
}

/**************************************
FIM CRIAR CONTA JSP
**************************************/