

/***********************************
ESTILIZACAO DE ACORDO COM O BROWSER
***********************************/

/*Mozilla Firefox 4 to 18*/
input:-moz-placeholder {
  line-height: 0;
}

/*---Mozilla Firefox 19+---*/
input::-moz-placeholder {
	line-height:0;
}

 /* Internet Explorer 10+ */
input:-ms-input-placeholder {
  line-height: 0;
}


/**************************************
FIM ESTILIZACAO DE ACORDO COM O BROWSER
**************************************/



/**************************************
PARA TODOS
**************************************/



body {
    overflow-x: hidden!important;
	font-size: 1.6em !important;
	background-image:url(../img/desert_camo.gif);
	font-family:serif !important;
}

/**************************************
FIM PARA TODOS;
**************************************/


.box_shadow{
	box-shadow: 3px 3px 3px #efe19d;
}

.barra_navegacao{

	background-color: #988D66 !important;
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    border: 0 !important;
    
}

.barra_navegacao a{
	color: #EFE09D !important;
	font-size: 1.4em;
}

.barra_navegacao a:hover{
	color: #FFFFFF !important;
}


.dropdown a{
	background-color: #988D66 !important;
}



.main_header{
	margin-top: 2.3em;
	text-align: center;
	height:450px;
	background-image:url(../img/bg_main_aeg.jpg);
	
}

.login_criar_conta{
	margin:1em;
	font-size: 1.4em;
	color:#EFE09D;
	text-decoration:none !important;
}

.login_criar_conta:hover{
	color:#FFF;
}

.login_criar_conta:active,
.login_criar_conta:visited{
	color:#EFE09D;
	text-decoration:none !important;
}

.logo_frase{
	font-size: 2em;
	color:#EFE09D;
	font-style:italic;"
}


#logo{
	margin-top:4em;
	margin-left:1em;
	width:380px;
	height:300px;
}


.div_equip{
	
	margin-top: 1em;
	background-color: #EFE09D !important;
	height: 500px;
	border-radius: 10px ;
}

.div_equip p{
	text-align:center;
	padding:5px;
	margin-top:.5em;
	font-size:1.6em;
	color:#EFE09D;
	border-radius:10px ;
	background-color:#988D66 !important;
}

.bt_acao {
	
	font-size:2em;
	padding:10px;
	margin-top:1em;
	border-radius:20px ;
	outline:0px !important;
	background-color:#EFE09D !important;
	color:#745A49 !important;
	border: solid 5px #745A49 !important;
	
}

.bt_acao:hover{
	background-color:#745A49 !important;
	color:#EFE09D !important;
	border: solid 5px #EFE09D !important;
	
		 
}

.div_equip font{
	
	font-style:italic;
	font-size: 1.4em;
	color:#988D66;

}
 
.table_grupo_filtro {
	margin-top: 1em;
}

.table_grupo_filtro td{
	margin-top: 1em;
	padding:5px !important;
}




.sobre_nos{

	color:#EFE09D !important;
	text-align:center;
	margin-top: 2em !important;
	background-color: #988D66 !important;
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    border: 0 !important;
}

.sobre_nos_col{
	margin:.5em !important; 
}

.sobre_nos_narede a{
	font-size:1.4em;
	color:#EFE09D !important;
	margin: 1em;
}




