<!-- JQUERY DATA TABLES CSS -->

/*Linhas Zebradas*/

table.dataTable tr.odd{
}

table.dataTable tr.even{
}


.tab_grid_result_td_aeg_thumb{
	text-align: center !important;"
}

.tab_grid_result_td_aeg_title_link{
	font-size:1.6em;
	color:#988D66;
}

.tab_grid_result_td_aeg_title_link:hover,
.tab_grid_result_td_aeg_title_link:active
{
	color:#988D66;
}

.tab_grid_result_td_aeg_title_link:visited{
	/*color:#930080;*/
}

.tab_grid_result_td_aeg_marca{
	font-size:1.2em;
	color:#745A49;
}

.tab_grid_result_td_aeg_preco{
	font-size:1.2em;
	color:red;
}

.tab_grid_result_td_aeg_anunciante{
	font-size:1.6em;
}

.tab_grid_result_td_aeg_lista_desejos{
	font-size:1.2em;
	color:#988D66;
	cursor: pointer;
}

.tab_grid_result_td_aeg_lista_desejos:hover,
.tab_grid_result_td_aeg_lista_desejos:active
{
	color:#988D66;
}

.tab_grid_result_td_aeg_lista_desejos:visited{
	/*color:#930080;*/
}


table.dataTable td{
	text-align:left;
	background-color:#FFF;
	border-bottom:solid 3px #988D66 !important;
	color:#988D66;
	font-size: 1.4em;
	font-family:sans-serif;
}
 
 /**
* Representa a TD do displayTable que contém as informações da quantidade de resulados a exibir ---> Ex:. Mostrar 5 registros
**/
.dataTables_length{
	margin-top:.7em !important;
	text-align:left !important;
} 

.dataTables_length label{
	font-size:1.4em !important;
	font-weight:normal !important;
	color:#745A49;
}

.dataTables_length select{
	border-color:#988D66;
	width: 150px;
} 


/**
* Representa a TD do displayTable que contém as informações de Paginação ---> Ex:. Primeira Anterior 123 Próxima Última	
**/
.dataTables_paginate{
	
	text-align: left;
	margin-top:2em !important;
	background-color: #745A49;
	border-radius: 10px ;
	padding: 5px;
}

.dataTables_paginate a{
	cursor: pointer;
	margin:.3em !important;
	color:#EFE09D !important;
	outline:none !important;
	font-size: 1.4em;
	
}

.dataTables_paginate a:hover{
	color:#EFE09D !important;
}

.paginate_active{
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
}

/**
* Representa a TD do displayTable que contém as informações de Display ---> Ex:. Mostrando 1 até 5 de 13 registros:	
**/

.dataTables_info{
	margin-top: .2em !important;
	text-align:left !important;
    color:#745A49 !important;
	font-size: 1.4em;
}

/**
* Representa a TD do displayTable que contém as informações de filtro ---> Ex:. Filtrar Resultado:	
**/

.dataTables_filter{
	text-align:left;
}

.dataTables_filter label{
	font-size:1.4em !important;
	font-weight:normal !important;
	color:#745A49;
}

.dataTables_filter input{
	width:150px;
}


